body {
  padding: 0px;
  margin: 0px;
}
#body-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.table-container {
  width: 1000px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
   
}

.table-header {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  margin-bottom: 15px;
}

.add-person-btn {
  padding: 10px 20px;
  font-size: 20px;
  cursor: pointer;
  border: none;
  background-color: #5e665e;
  color: white;
  border-radius: 5px;
  transition: background-color 0.3s;
  box-shadow: 2px 2px 6px rgba(0,0,0,0.2);
}

.add-person-btn:hover {
  background-color: #e4eae6;
}

.person-table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
  border: 1px solid rgba(153, 150, 143, 0.667);
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
}

.person-table th {
  border: 1px solid rgba(245, 242, 238, 0.667);
  padding: 5px;
  text-align: center;
  background-color: #b7b99f;
}

.person-table td {
  border: 1px solid rgba(241, 240, 234, 0.667);
  padding-left: 10px;
  text-align: left;
  word-wrap: break-word;
  background-color: rgb(255, 255, 255);
}

.action-cell {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border: none;
  margin-top: 10px;
}

.status-checkbox {
  margin-top: 10px;
  width: 30px;
  height: 30px;
}

.icon-btn {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 18px;
  transition: transform 0.2s;
}

.icon-btn:hover {
  transform: scale(1.2);
}
