.popup-overlay, #popup-container {
  display: flex;
  position: fixed;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background: rgba(0, 0, 0, 0.4);
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.popup-body {
  background: #b7b99f;
  padding: 25px;
  border-radius: 10px;
  box-shadow: 2px 2px 10px rgba(0,0,0,0.3);
  width: 320px;
  position: relative;
}

.close-icon {
  position: absolute;
  top: 8px;
  right: 12px;
  background: none;
  border: none;
  font-size: 22px;
  cursor: pointer;
}

label {
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
  color: black;
}

label .required {
  color: red;
}

input, textarea, select {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
}

.submit-btn {
  padding: 8px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #356e60;
  color: white;
}

.submit-btn:hover {
  background-color: #244c43;
}

.form-error, #form-error {
  color: red;
  font-size: 14px;
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}

.dob-error, #dob-error {
  color: red;
  font-size: 14px;
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}
